@model GigsFirstDAL.Show

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Show</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Venue.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Venue.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowStatus.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deleted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowCategory.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
